/*-- scss:defaults --*/
$primary-color: #007bc2;
$secondary-color: #4b2e83;
$tertiary-color: #757883;
$background-color: #e8e3d3;
$text-color: #202020;

.projects-page {
  background: url('doom.gif') no-repeat center center fixed; 
  background-size: cover;
  color: #fff; 
  font-family: 'Sans Serif', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0; 

  &::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
    pointer-events: none;
  }
}


.projects-page h1 {
  font-size: 1.8rem; 
  font-family:Arial, Helvetica, sans-serif;
}
/*-- scss:mixins --*/

/*-- scss:functions --*/


/*-- scss:rules --*/
div.gradient-text {
  background: linear-gradient(
    45deg,
    $background-color,
    $secondary-color,
    $secondary-color,
    $tertiary-color,
    $text-color,
    $primary-color,
    $secondary-color,
    $primary-color,
    $tertiary-color,
    $tertiary-color,
    $text-color,
    $background-color
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 30s ease-in-out infinite;
}
@keyframes animated_text {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  

/*-- scss:uses --*/